* {
    box-sizing: border-box;
}

body {
    background: black url(bg.jpg) no-repeat left center/cover;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h3 {
    margin-bottom: 0;
}

p {
    line-height: 1.5;
    margin: 0;
}

.play-agin {
    padding: 8px 15px;
    border: 0;
    background: white;
    border-radius: 5px;
}

.msg {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 1px solid #dedede;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}